body
{
	background-image:url("wood.jpg");
	background-color:#AE6A32;
	color:#DDA27D;
	font-family:Arial, Helvetica, serif;
}

input, select
{
  background-color:#563F31 !important;
  color:#DDA27D !important;
  border: 1px solid #DDA27D !important;
  font-size:inherit;
  padding:3px;
}

.Frame
{
	background-image:url("wood-window.jpg");
	background-color:#967F7B;
	border:20px solid transparent;
	border-image:url("wood-window-frame.jpg") 20 20 round;
	width:450px;
	height:470px;
	padding:20px;
}

.Button
{
	background-color:#563F31;
	border: 1px solid #DDA27D;
	border-radius:5px;
	padding: 0.5em 1em;
	font-size:150%;
}

.ChordPane
{
	width:178px;
	margin:1em auto;
	background-color:#DDA27D;
	border:3px solid transparent;
	border-radius:10px;
}

.SettingsBox
{
	font-size:120%;
}

.SettingsBox input
{
	width:6ex;
	background-color:#FCF7EA;
	font-family:Arial, Helvetica, serif;
	margin:0.3ex 1ex;
}