#menu
{
	position:absolute;
	top:10%;
	left:0%;
	
	width:100%;
	height:100%;
}

.DrugMenuItem
{
	position:absolute;
	width:100%;
	left:0;
	margin:0;
	padding:0;
	height:20%;
	background:grey;
	
	text-align:center;
	font-size:6em;
	font-family: Arial, sans-serif;
	color:white;
	text-decoration:none;
	
	border: 2px solid black;
}

.Loading
{
	position:absolute;
	z-index:100;
	
	left:0;
	top:0;
	width:100%;
	height:100%;
	
	text-align:center;
	font-size:8em;
	font-family: Arial, sans-serif;
}

.Autocomplete
{
	position:absolute;
	top:0;
	left:0;
	
	width:100%;
	height:10%;
	
	font-family: Arial, sans-serif;	
	font-weight:bold;
	font-size:4em;
	text-align:center;
	color:grey;
}