body
{
	background:black;
}

#topButtonPanel
{
	position:absolute;
	margin:0;
	padding:0;
	top:0;
	left:0;
	width:100%;
	height:5%;
	
	border:1px solid grey;
}

#roomsArea
{
	position:absolute;
	overflow:hidden;
	
	width:100%;
	height:95%;
	top:5%;
	left:0%;
}

#message
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:8%;
	padding-top:2%;
	display:none;
	
	font-family:Lucida Console, Monaco, monospace;
	font-weight:bold;
	font-size:2em;
	color:yellow;
	text-align:center;
}

.DoorN
{
	border-top:2px solid yellow;
}

.DoorE
{
	border-right:2px solid yellow;
}

.DoorS
{
	border-bottom:2px solid yellow;
}

.DoorW
{
	border-left:2px solid yellow;
}