.RoomWindow
{
	position:relative;
	width:15%;
	height:15%;
	
	padding:1%;
	
	background:black;
	border: 2px solid grey;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	
	font-family:Lucida Console, Monaco, monospace;
	font-weight:bold;
	color:grey;
}

/* Style for the room the player will start in. */
.StartingRoom
{
	border: 2px solid yellow;
}

#console
{
	position:relative;
	width:40%;
	height:40%;
	top:10%;
	
	padding:1%;
	
	background:black;
	border: 2px solid red;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	
	font-family:Lucida Console, Monaco, monospace;
	font-weight:bold;
	color:white;
	overflow-y:scroll;
}

.EditableTextArea
{
	position:absolute;
	resize:none;
	width:100%;
	height:100%;
	margin:0;
	padding:1%;
	left:0;
	top:0;
	
	font-family:Lucida Console, Monaco, monospace;
	font-weight:bold;
	background:grey;
}

.Button
{
	position:relative;
	float:left;
	width:10%;
	margin:0.2%;
	padding:0.5%;
	top:0;
	
	
	background:black;
	border: 2px solid grey;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	
	font-family:Lucida Console, Monaco, monospace;
	font-weight:bold;
	color:grey;
	text-align:center;
}

.Button:active
{
	background:#666;
}

.Button:hover
{
	border-color:#aaa;
}