.ControlPanel
{
	position:absolute;
	right:5%;
	top:5%;
	height:70%;
	min-height:800px;
	width:13%;
	background-color:gray;
	padding:1em;
}

.FullscreenButton
{
	height:40px;
	width:50px;
	margin:10px;
}

.Slider
{
	width:80%;
	margin-left:1em;
	margin-right:1em;
}

/*Applied to the canvas when we want to make it fullscreen.*/
.Fullscreen
{
	z-index:11;
	width:105%;
	height:130%;
}

.CanvasContainer
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

.BrowserText
{
	position:relative;
	color: #dddddd;
	font-family:Helvetica;
	width:28.5em;
	font-size:16px;
	text-align:left;
	border: solid 2px red;
	padding:1em;
	background-color:#111111;
}

.Menu
{
	width:9em;
	height:12em;
	margin-top:5em;
	margin-left:5em;
	border: solid 2px red;
	background-color:#111111;
	text-align:left;
	float:left;
	padding:1.5em;
}

.Menu a
{
	font-family:Helvetica;
	text-decoration:none;
	font-weight:bold;
}

.CenterPane
{
	position:relative;
	width:25em;
	border: solid 2px red;
	background-color:#111111;
	
	margin-top:5em;
	
	color: #dddddd;
	font-family:Helvetica;
	text-align:left;
	font-size:18px;
	padding:1em;
}

#rightSide
{
	position:relative;
	width:70%;
	float:right;
	padding:0;
}

.GoButton
{
	margin:1em;
	color:#111111;
}

/* All links are light grey when not visited yet, grey when visited. */
a
{
	color:#dddddd;
}

a visited
{
	color: #333333;
}

p
{
	font-family: Helvetica;
}

/* For google ads, except those in the control panel */
.Ads
{
	position:absolute;
	width:120px;
	background-color:#111111;
	height:600px;
	right:8%;
	top:10%;
	margin:0;
	padding:0;
}